<h1>Hello!</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<style>
.myform {
  width: 50%;
  margin: 0 auto;
}
</style>
<form id="myform">
    <label for="name">Name</label>
    <input class="u-full-width" type="text" id="name" name="name">
    <label for="content">Message</label>
    <textarea class="u-full-width" type="text" id="content" name="content"></textarea>
    <button class="button-primary">Submit</button>
</form>
<ul>
    <li>test</li>
    <li>test</li>
    <ul>
        <li>test</li>
        <li>test</li>
    </ul>
</ul>
<script src="client.js"></script>