<h1>Hello!</h1>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
<link rel="stylesheet" href="css/styles.css">
<form id="myform">
    <label for="name">Name</label>
    <input class="u-full-width" type="text" id="name" name="name"><br>
    <label for="content">Message</label><br>
    <textarea class="u-full-width" type="text" id="content" name="content"></textarea><br>
    <button class="button-primary">Submit</button>
</form>
<div id="posts"></div>
<div class="mylittlefooter">
    <p>
        focus group v0.1
    </p>
</div>
<script src="scripts/client.js"></script>