body {
    background-image: url("wolfbg.png");
    /* background-color: #cccccc; */
    /* font-smooth: never; */
/* -webkit-font-smoothing : none; */
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;

    margin: 0;
    padding: 0;

}



/* .myform {
    width: 50%;
    margin: 0 auto;
} */

/* .posts {
    margin: 0;
    padding: 10;
} */

/* ul:hover {
    color: #2693ff;
} */

.postArea {
    background: rgba(0, 0, 0, 0.4);
    border-style:dotted;
    /* border-spacing: 15px; */
    padding: 10px 10px;
    margin: 12 12;
    color: rgb(255, 255, 255);
    /* width: fit-content; */
    /* or full width */
    width: auto; 
    /* display: block; */
}

ul {
    /* padding: 0px 4vw; */
    list-style: none; /* Remove default bullets */
    /* list-style-type: square; */

    list-style-type: none;
    margin: 0;
    /* padding: 0; */
  
    /* list-style-type: georgian; */
    /* color: red; */
}

ul li::before {
    
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(21, 255, 0); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    
  }

p {
    display: inline
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

div.mylittlefooter
{
    text-align: right; 
    /* font-size: 60px; */
}